* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

textarea:focus, input:focus{
  outline: none;
}

a {
  color: white;
  text-decoration: none;
}

.fs-xs {
  font-size: 12px;
}

.fs-md {
  font-size: 14px;
}

.topNavbar {
  height: 70px;
}

.navLink {
  font-size: 14px;
}

.navLink a {
  color: rgb(150, 150, 150);
}

.navLink a:hover {
  color: rgb(204, 204, 204);
}

.navImage {
  height: 35px;
  border-radius: 7px;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

.mediumIcon {
  font-size: 18px;
}

.fade-effect {
  height: 100vh;
  background-image: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,1) 100%);
  margin-top: -100vh;
}

.movieImage {
  max-width: 200px;
}

.bg-black {
  background-color: black;
}

.carousel-control-prev {
  display: flex;
  justify-content: flex-start;
  margin-left: 25px;
  width: 40px;
}

.carousel-control-next {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
  width: 40px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: black;
  height: 70px;
  width: 40px;
  border-radius: 10px;
}

.smallMovie {
  cursor: pointer;
  transition: .2s;
}

.hoveredMovie {
  z-index: 50;
  transition: .2s;
  height: 300px !important;
  cursor: pointer;
}

.hoveredMovie img {
  width: 250px;
}

.circleIcon {
  color: white;
  border: 2px solid gray;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
}

.circleIcon:hover {
  border-color: white;
}

.noBottomBorderRadius {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.cardBody {
  width: 250px;
}

.modal-header {
  justify-content: flex-end;
  align-items: flex-start;
}

.closeButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  
}

.closeButtonContainer .closeButtonModal {
  margin: 0;
}

.closeButtonModal:focus, .closeButtonModal:active {
  outline: none !important;
  box-shadow: none;
}

.smallMovieTag {
  border: 1px solid white;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
}

.text-lightgray {
  color: rgb(160, 160, 160)
}

.space-between-y-1 > div, .space-between-y-1 > span, .space-between-y-1 > button {
  margin-bottom: 2px;
}

.space-between-y-2 > div, .space-between-y-2 > span, .space-between-2 > button {
  margin-bottom: 6px;
}

.space-between-y-3 > div, .space-between-y-3 > span, .space-between-y-3 > button {
  margin-bottom: 10px;
}

.space-between-y-4 > div, .space-between-y-4 > span, .space-between-y-4 > button {
  margin-bottom: 25px;
}

.space-between-x-1 > div, .space-between-x-1 > span, .space-between-x-1 > button {
  margin-right: 8px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-bottom: 15px;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBackgroundGradient {
  width: 100%;
  height: 100%;
  z-index: 1;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.modal-content, .modal-body {
  border-radius: 10px;
  border: none;
}

.authPage {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url('https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-40bc-b3eb-eaba63ed8203/93c34f94-56c8-40a7-8b2e-b4aac6427977/GB-en-20210125-popsignuptwoweeks-perspective_alpha_website_medium.jpg');
  height: 100vh;
  width: 100vw;
  padding: 20px;
}

.authLogo {
  height: 40px;
}

.netflixRedButton {
  background-color: #E50A14;
  border: none;
  border-radius: 7px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  text-align: center;
  font-weight: 600;
}

.netflixRedButton:hover {
  cursor: pointer;
  background-color: #bd0811;
}

.netflixGrayButton {
  background-color: gray;
  border: none;
  border-radius: 7px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  text-align: center;
  font-weight: 600;
}

.netflixGrayButton:hover {
  cursor: pointer;
  background-color: gray;
}

.authForm {
  border-radius: 10px;
  width: 70%;
}

.authInput {
  border-radius: 10px;
  padding: 15px;
  outline: none;
  border: none;
}

.authLink {
  color: white;
  text-decoration: none;
  margin-left: 5px;
}

.authLink:hover {
  text-decoration: underline;
}

.profilePage {
  width: 100vw;
  height: 100vh;
}



.profileNetflixLogo {
  height: 35px;
}

.profileProfileUserAvatar {
  border-radius: 10px;
  height: 95px;
}

.profileInput {
  width: 100%;
  background-color: gray;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  border: none;
}

.dropdownButton {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 0px;
  padding: 4px;
  padding-left: 15px;
  padding-right: 15px;
}

.dropdownButton:hover {
  background-color: gray;
}


.dropdownButton:focus, .dropdownButton:active, .dropdown-toggle, .show>.btn-primary.dropdown-toggle, .show>.btn-primary.dropdown-toggle:focus {
  background-color: black !important;
  border: 1px solid white;
  box-shadow: none;
  outline: none !important;
}

.dropdownMenu {
  background-color: black;
  font-size: 14px;
  border: 1px solid gray;
  border-radius: 0px;
}

.dropdownMenuContainer {
  font-size: 14px;
}

.dropdownMenuContainer a:hover {
  text-decoration: underline;
  background-color: black !important;
}

.profileBottomButton {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: black;
  color: gray;
  border: none;
  letter-spacing: 2px;
  font-weight: 600;
  border: 1px solid gray;
}

.profileSaveButton {
  background-color: white;
  color: black;
  border: none;
}

.profileSaveButton:hover {
  background-color: #E50A14;
  color: white;
}

.profileBottomButton:hover {
  color: white;
  border-color: white;
}
